# Node dependencies
/node_modules

# Yarn/PNP
.pnp.js
/.pnp
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Misc
.DS_Store
*.pem
Resend API key.txt

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment
.env
.env*.local

# TS build artifacts
*.tsbuildinfo
next-env.d.ts

# Vercel deployment meta
.vercel

# Old portfolio screenshots (optional, remove if needed)
public/assets/projects-screenshots/codingducks/
public/assets/projects-screenshots/couponluxury/
public/assets/projects-screenshots/ghostchat/
public/assets/projects-screenshots/jra/
public/assets/projects-screenshots/the-booking-desk/

# Optional docs
updated-readme.md
